#discord{
#discordmessage{
    padding-left: 25%;
    margin-top: 20px;
    text-align: center;
    display: block;
    text-shadow: 0px 0px 5px rgb(145, 125, 75);
    font-family: hamillton;
    font-size: 32px;
    color: #fff;
  }
  
  section{
    float: left;
    width: 80%;
  }
  aside{
    width: 20%;
    float: left;
  }
  
  #discordbanner{
    display: block;
    height: 5%;
    width: 50%;
    margin-left: 37%;
    margin-right: auto;
  }
}