@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
@font-face {
  font-family: hamillton;
  src: url(/assets/font/HAMILLTON.ttf);
  font-weight: 400; }
body {
  background-image: url("/assets/background/background1.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  color: #fff; }

.navigation {
  height: 150px;
  background-image: url("/assets/Logo_Transparent.png");
  background-repeat: no-repeat;
  background-size: 150px 150px;
  background-position: top center;
  text-align: center; }
  .navigation ul.left {
    margin-right: 75px; }
  .navigation ul.right {
    margin-left: 75px; }
  .navigation ul {
    padding: 0px;
    width: 360px;
    list-style-type: none;
    display: inline-block; }
    .navigation ul li {
      width: 100px;
      display: table-cell;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
      float: left;
      margin-top: 65px; }
      .navigation ul li a {
        display: block;
        color: lightgray;
        font-family: 'Open Sans Condensed', sans-serif;
        text-decoration: none;
        font-size: 21px; }
    .navigation ul li.active > a {
      color: white; }

#home .buttoncontainer {
  text-align: center;
  margin-top: 100px; }
#home .button {
  color: white;
  text-shadow: 0px 0px 0px white;
  font-size: 22px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  text-decoration: none;
  padding: 14px 25px;
  border: 2px solid rgba(226, 164, 56, 0.5);
  transition: 0.1s background-color linear, 0.1s color linear; }
#home .button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: white; }
#home #a {
  margin-top: 50px;
  text-align: center;
  display: block;
  text-shadow: 0px 0px 5px gold;
  font-family: hamillton;
  font-size: 25px;
  color: #fff; }
#home .youtubevid {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px; }

#discord #discordmessage {
  padding-left: 25%;
  margin-top: 20px;
  text-align: center;
  display: block;
  text-shadow: 0px 0px 5px #917d4b;
  font-family: hamillton;
  font-size: 32px;
  color: #fff; }
#discord section {
  float: left;
  width: 80%; }
#discord aside {
  width: 20%;
  float: left; }
#discord #discordbanner {
  display: block;
  height: 5%;
  width: 50%;
  margin-left: 37%;
  margin-right: auto; }

#information .title {
  font-size: 40px;
  font-family: hamillton;
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;
  text-shadow: 0 0 3px black; }
#information section {
  width: 735px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-family: "Open Sans Condensed", sans-serif;
  color: black;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3); }
#information p {
  margin-top: 0px;
  margin-bottom: 0px; }

#membership h1 {
  font-size: 80px;
  text-shadow: 0 0 5px black;
  font-family: hamillton;
  text-align: center; }
#membership section {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 40px;
  color: black;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px; }
#membership .explanation {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px; }
#membership label, #membership input {
  display: block; }
#membership textarea, #membership input[type="text"] {
  width: 100%;
  height: 30px;
  border: 2px solid white;
  transition: all 0.3s;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 5px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.9);
  color: black;
  font-size: 16px;
  font-family: sans-serif; }
#membership textarea:focus, #membership input[type="text"]:focus {
  border: 2px solid #917d4b;
  background-color: rgba(255, 255, 255, 0.9); }
#membership input[type="submit"] {
  width: 300px;
  height: 40px;
  margin: 50px auto 0 auto;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Open Sans Condensed", sans-serif;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  transition: all 0.3s; }
#membership input[type="submit"]:hover {
  color: black;
  border: 2px solid black;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.5); }
#membership label {
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.8); }
#membership #motivation {
  height: 100px; }
#membership .discordcard {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid white;
  border-radius: 20px; }
  #membership .discordcard img {
    float: left;
    margin: 2px;
    border-radius: 30px;
    border: 2px solid white;
    width: 100px; }
  #membership .discordcard .text {
    float: left;
    margin-left: 50px;
    margin-top: 0px; }
    #membership .discordcard .text h2 {
      margin-top: 0px; }
    #membership .discordcard .text p {
      font-size: 24px;
      margin: 0;
      text-shadow: 0 0 3px rgba(255, 255, 255, 0.9); }
#membership .discordcard::after {
  content: "";
  clear: both;
  display: table; }
#membership h2 {
  margin-bottom: 0px;
  font-weight: normal;
  font-size: 40px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.9); }

/*# sourceMappingURL=style.css.map */
